/* style.css */
body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f7f6;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 900px; /* Increase max width for side-by-side form */
    margin: 50px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

h2 {
    text-align: center;
    color: #4CAF50;
    font-size: 2em;
    margin-bottom: 30px;
}

form {
    display: flex;
    flex-direction: column;
}

.form-row {
    display: flex;
    justify-content: space-between; /* Distribute the items horizontally */
    margin-bottom: 20px;
}

.form-group {
    width: 48%; /* Set width of each field to 48% for equal distribution */
}

.left {
    margin-right: 4%; /* Give some space between left and right columns */
}

label {
    font-size: 1.1em;
    color: #333;
    margin-bottom: 5px;
}

input[type="number"], select, input[type="submit"] {
    padding: 10px;
    font-size: 1em;
    border-radius: 5px;
    border: 1px solid #ccc;
    width: 100%;
}

input[type="submit"] {
    background-color: #4CAF50;
    color: white;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #45a049;
}

.result {
    margin-top: 20px;
    text-align: center;
    font-size: 1.2em;
    color: #333;
    font-weight: bold;
}
